.pollPreview {
     border-radius: 25px;
     background-color: white;
     box-shadow: 0px 0px 10px rgb(121, 121, 121);
     margin: 10px;
     padding: 10px;
     width: 15%;
     height: 150px;
}

.pollPreview:hover {
     box-shadow: 0px 0px 15px rgb(151, 151, 151);
}