.container {
     justify-content: center;
     min-height: 100vh;
     padding: 1rem;
     padding-top: calc(80px + 1rem);
     background-color: #F3F3F7FF;
}

.title {
     text-align: center;
     font-size: 2rem;
     margin: 1rem 2rem;
}

.description {
     text-align: center;
     font-size: 0.8rem;
     margin: 0.5rem 2rem;
     color: #3C3C4399;
     font-weight: 500;
}

.card {
     width: 70%;
     margin: auto;
     padding: 1rem;
     background-color: white;
     border-radius: 6px;
     border-top: 4px solid #0070f3;
     box-shadow: 0px 0px 10px 1px rgba(219, 219, 219, 0.2)
}


.keywordGrid {
     display: flex;
     margin: -6px;
     justify-content: center;
     margin-top: 0.5rem;
     width: 100%;
}

.keywordGrid h4 { 
     margin: 6px;
}

.keyword {
     margin: 0;
     font-size: 0.6rem;
     background-color: #0070f333;
     color: #3C3C4399;
     padding: 0.4rem 0.6rem;
     border-radius: 0.8rem;
}
   
.keyword:hover {
     cursor: pointer;
   }

@media (max-width: 730px) {
     .card {
          width: 90%;
     }
}

@media (min-width: 1500px) {
     .card {
          width: 1005px;
     }
}