
.keywordGrid h4 { 
     margin: 6px;
}

.keyword {
     margin: 0;
     font-size: 0.6rem;
     background-color: #0070f333;
     color: #3C3C4399;
     padding: 0.4rem 0.6rem;
     border-radius: 0.8rem;
}
   
.keyword:hover {
     cursor: pointer;
   }

@media (max-width: 730px) {
     .card {
          width: 90%;
     }
}

@media (min-width: 1500px) {
     .card {
          width: 1005px;
     }
}